.app-title{
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}
#viewTitle {
	-fx-font-size: 24px;
	-fx-text-fill: #6f6f6f;
}
.table-row-button {
	-px-min-heigth: 16px;
	-px-min-width: 32px;
	-fx-pref-height: 16px;
	-fx-pref-width: 32px;
	-px-max-heigth: 16px;
	-px-max-width: 32px;
}

.root {
	-fx-font-size: 16px;
	-fx-text-fill: #2c3e50;
	-fx-font-family: "Arial";
}

.background {
	-fx-background-color: #ffffff;
}

.button {
	-fx-background-color: #2c3e50;
	-fx-background-radius: 4px;
	-fx-text-fill: #ffffff;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: #1a242f;
}

.text-field,
.text-area,
.password-field{
	-fx-background-color: #ffffff;
	-fx-border-width: 2px;
	-fx-border-color: #dce4ec;
}

.text-field:focused,
.text-area:focused,
.password:focused {
	-fx-border-color: #2c3e50;
}

.table-view {
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 5;
}
.table-view .column-header {
	-fx-background-color: #2c3e50;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
}
/* Each row in the table is a table-row-cell. Inside a table-row-cell is any
   number of table-cell. */
.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: -fx-text-inner-color;
}
.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}
.table-row-cell:focused,
.tree-table-row-cell:focused {
    -fx-background-color: #ecf0f1;
}
.table-row-cell:focused:odd {
    -fx-background-color: #ecf0f1;
}
.table-cell {
    -fx-text-fill: #2c3e50;
    -fx-border-color: transparent;
    -fx-alignment: CENTER-LEFT;
}