.background {
    -fx-background-color: #222222;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

#viewTitle {
	-fx-font-size: 20pt;
	-fx-opacity: 1;
}

#logoutButton {
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#backToMainButton {
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

Button {
	-fx-font-size: 15px;
	-fx-background-radius: 4px;
	-fx-cursor: hand;
}

.button-default {
	-fx-text-fill: #ffffff;
	-fx-background-color: #464545;
}

.button-default:hover {
	-fx-background-color: #2c2c2c;
}

.button-primary {
	-fx-text-fill: #ffffff;
	-fx-background-color: #375a7f;
}

.button-primary:hover {
	-fx-background-color: #28415b;
}

.button-success {
	-fx-text-fill: #ffffff;
	-fx-background-color: #00bc8c;
}

.button-success:hover {
	-fx-background-color: #008966;
}

.button-info {
	-fx-text-fill: #ffffff;
	-fx-background-color: #3498db;
}

.button-info:hover {
	-fx-background-color: #217dbb;
}

.button-warning {
	-fx-text-fill: #ffffff;
	-fx-background-color: #f39c12;
}

.button-warning:hover {
	-fx-background-color: #c87f0a;
}

.button-danger {
	-fx-text-fill: #ffffff;
	-fx-background-color: #e74c3c;
}

.button-danger:hover {
	-fx-background-color: #d62c1a;
}

TextField,
PasswordField{
	-fx-font-size: 15px;
	-fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

TextField:focused,
PasswordField:focused {
	-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row-button {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-cursor: hand;
}

.table-row-button:hover {
	-fx-background-color: transparent;
}

.choice-box .label {
     -fx-text-fill: #222222; 
}

.launcher-pane {
	-fx-background-radius: 3;
}

.launcher-pane:hover {
	-fx-background-color: #333333;
}

.split-pane {
	-fx-background-color: transparent;
    -fx-padding: 1 0 0 0;
}

.split-pane > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}
.scroll-pane {
	-fx-background-color: transparent;
}
.scroll-pane > .viewport  { 
	-fx-background-color: transparent;
}
.scroll-pane > .anchor-pane {
	-fx-background-color: transparent;
}
.background-white {
	-fx-background-color: #ffffff;
}
.border-white {
	-fx-border-color: transparent, derive(#1d1d1d,20%);
	-fx-border-width: 5;
}